
/*MAIN BACKGROUND COLOUR*/

.jumbotron{
	background:#47a3da;
}

/*CONTAINER FOR NAV & LOGO (ADD margin-bottom to fit logo)*/

.container-fluid {
	padding: 0 15px 0 15px;
	margin-right:auto;
	margin-left:auto;
}